body {
    display:block;
    margin: 8px;
    background: #413F54;
}

div {
    display: block;
}

a {
  color: white;
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#consoleDiv{
  float:left;
  background:#30292F;
  width:100%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

p.console {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12;
    color: white;
    margin-top: 0;
}

p.consoleOld {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12;
    color: grey;
    margin-bottom: 0;
}

.pulsate {
    -webkit-animation: pulsate .5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}

@keyframes pulsate{

  0% {
      opacity: 0.0;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.0;
  }

}


#EnemyHealthBar{

  margin-bottom: 5px;
  -webkit-appearance: none;
  appearance: none;
  height:5px;

}

#EnemyHealthBar[value]::-webkit-progress-bar {
  background-color: gray;
}

#EnemyHealthBar[value]::-webkit-progress-value {
  background-color: white;
}

#EnemyContent{
  display:none;
}

#EnemyContentStats{
  display:none;
}

#FixedPosition{

  position: relative;

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infoDiv {

    top: 8;
    right: 8;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: right;
    float:right;
}

.centertext{

  width:100%;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.playertext{

  font-size: 0.85rem;

}

.whitetext{
  color:white;
}

.HalfWidth{

  width:50%;
  float:left;

}

.ZoneButton{

  width:10%;
  border:none;
  display:none;

}

#ZoneOneToolTip {
        background: #333;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 4px;
      }


#firstColumn {
    float: left;
    width: 275px;
}

#secondColumn {
    float: left;
    width: 275px;
    margin-left:10px;
}
